
// <settings>
$offcanvas-background: "black";
$offcanvas-shadow: 0 0 10px rgba(green, 0.7);

$offcanvas-sizes: (
    small: 100vw,
    medium: 50vw,
);

// </settings>


@import "@/foundation-sites/scss/foundation";

@import "@/select2/dist/css/select2.min.css";

@import "./htmx.scss";

@include foundation-everything;

@include foundation-xy-grid-classes(
    /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
   */
);

.button {
    font-weight: bold;
}

.custom-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.2s ease-in-out;

    &.htmx-swapping {
        box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    }
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.card-divider {
    border-left: 1px solid white
}

.calendar .cell:before {
    content: '3';
    display: block;
    padding-top: 85.71%;
}

.calendar .cell {
    background: white;
    border: grey 1px solid;
    height: auto;
}
